# When not running in docker, this file manages PATH and PYTHONPATH.

if [ ! -f '/.dockerenv' ] ; then
  cwd=$(pwd)

  export PATH="$cwd/dev_tools/bin:$PATH"
  export PYTHONPATH="$cwd/dev_tools/pylibs:$PYTHONPATH"
fi
